main {
    display: flex;
  }
  
  .containerImagem {
    background-image: url("../../assets/Tela\ Login/imagem tela de login.png");
    height: 100vh;
    width: 60%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
  
  .containerForm{
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1{
          width: 40%;
          font-size: 2rem;
          text-align: center;
      }
  }
  
  form{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 70%;
      height: 20vh;
      input{
          width: 20vw;
          height: 5vh;
          border-radius: 6px;
      
        }
        a{
            text-decoration: none;
          }
  
      div{
          width: 50%;
          display: flex;
          justify-content: space-evenly;
  
          .buttonEntrar{
              background-color: #001A3D;
              width: 6vw;
              height: 5vh ;
              border-radius: 6px;
              color: white;
          }
  
          .buttonCriar{
              background-color:#00BEDD;
              width: 6vw;
              height: 5vh ;
              border-radius: 6px;
              color: white;
          }
  
  
      }
  }